.cards_item {
  padding: 1rem;
  background: white;
  justify-self: center;
  margin-bottom: 10px;
  .card_image {
    background: #ddd;
    text-align: center;
  }
  .card_content {
    margin: 16px 0px;
    line-height: 1.5rem;
    letter-spacing: 0px;
  }
}
